@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #dce0e4;

}

.testimonial-head{
    margin-top: 20px;
    text-align: center;
}

.container-testimonial{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testimonial{
    box-shadow: 0 0 10px black; 
    border-radius: 10px;
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    padding: 10px;
}

.testimonial p{
    text-align: center;
    height: 80px;
    overflow: hidden;
}

.testimonial img{
    border-radius: 10px 10px 0 0;
    margin: auto; 
    height:200px;
    object-fit: cover;
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-filter{
    padding: 15px 20px; border-radius: 10px; border: none; color: white;
    background-color: black;
}

.active{
    color: black;
    background-color: white;
}

.testimonial h3{
    text-align: end;}

@media screen and (max-width:700px ) {
    .container-testimonial{
        display: flex;
        flex-direction: column;
    }
    .testimonial{
        width: 20rem;
    }
    .testimonial img{
        width: 19rem;
    }

    .container-btn{gap: 5px;}
    .btn-filter{padding: 5px 5px;}
}
